# Backend PHP + MySQL local (EJEMPLO)
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=monitoreo_aire
DB_USER=root
DB_PASS=

# Ruta base del backend en XAMPP (ejemplo)
BASE_URL=http://localhost/WSMONITOREO

# Seguridad básica (ejemplo)
TOKEN_REQUIRED=true
